@import "../../sass/base";

.header-mobile--open {
  display: none;

  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: $color-primary;
    color: $font-color-bone;
    width: 100%;
    padding-bottom: 4rem;
    position: sticky;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid $font-color-blue;

    .nav-links-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0 5rem;
      list-style: none;
      text-align: center;
      width: 100vw;
      height: 100vh;
      padding-top: 20%;
    }

    .nav-link {
      margin-top: 2rem;
      background-color: transparent;
      border: none;
      color: $font-color-bone;
      font-size: 3rem;
      border-bottom: 1px solid $font-color-bone;
    }

    .u-row {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      margin: 2rem 0;
    }

    .btn-open-modal,
    .btn-close-modal {
      height: 4rem;
      width: 4rem;
      margin-right: 2rem;
      background-color: $font-color-bone;
      color: $color-primary;
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
