@import "../../../sass/base";

.card {
  min-height: 97rem;
  width: 50rem;
  max-width: 30%;
  background-color: $color-primary;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1450px) {
    max-width: 50%;
  }

  @media screen and (max-width: 1080px) {
    max-width: 100%;
    min-height: auto;
    padding-bottom: 4rem;
  }

  @media screen and (max-width: 750px) {
    min-height: auto;
  }

  h2 {
    color: $font-color-bone;
    font-size: 2.4rem;
    margin-top: 1rem;

    @media screen and (max-width: 400px) {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  a {
    color: $font-color-bone;
    font-size: 2rem;
    margin-top: 1rem;

    &:hover {
      color: $font-color-blue;
    }

    @media screen and (max-width: 400px) {
      font-size: 1.8rem;
    }
  }
}

.photo {
  width: 90%;
  margin-top: 2rem;
  border-radius: 4px;
}

.u-bold {
  font-weight: 800;
  margin-top: 2rem;
  color: $font-color-bone;
  font-size: 1.8rem;
}

.key-features {
  color: $font-color-bone;
  font-size: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem;
}

.li {
  margin: 0.5rem 1.25rem;
}

.description,
.description-small,
.description-tiny {
  color: $font-color-bone;
  margin-top: 2rem;
  padding: 0 2rem;

  @media screen and (max-width: 750px) {
    &.description-tiny {
      font-size: 1.8rem;
    }
  }
}

.description {
  font-size: 2rem;
}

.description-small {
  font-size: 1.8rem;
}

.description-tiny {
  font-size: 1.5rem;
}
