@import "../../sass/base";

.section-about {
  background-color: $color-primary;
  color: $font-color-bone;
  width: 100%;
  padding: 3rem 30% 8rem 30%;

  h3 {
    font-size: 3rem;
    margin-top: 2rem;

    @media screen and (max-width: 500px) {
      font-size: 2.5rem;
    }
  }

  p,
  ul,
  li {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  ul,
  li {
    margin-top: 0.25rem;
  }

  @media screen and (max-width: 750px) {
    padding: 3rem 10% 8rem 10%;
  }
}
