@import "../../sass/base";

.section-my-info--mobile {
  display: none;

  @media screen and (max-width: 850px) {
    background-color: $color-primary;
    color: $font-color-bone;
    width: 100%;
    padding: 3rem 4rem 8rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1,
    h2,
    a {
      margin-top: 1.5rem;
    }

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    a {
      color: $font-color-bone;
      font-size: 2.5rem;
      &:hover {
        color: $font-color-blue;
      }
    }

    @media screen and (max-width: 500px) {
      h1 {
        font-size: 2.5rem;
        text-align: center;
      }

      h2 {
        font-size: 2rem;
      }

      a {
        font-size: 2rem;
      }
    }
  }
}
