@import "../../sass/base";

.header {
  height: 8rem;
  background-color: $color-primary;
  color: $font-color-bone;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .nav-links-wrapper {
    display: flex;
    gap: 0 5rem;
    list-style: none;
  }

  .nav-link {
    background-color: transparent;
    border: none;
    color: $font-color-bone;
    font-size: 3rem;
    border-bottom: 1px solid $font-color-bone;
  }

  .nav-link:hover {
    cursor: pointer;
    color: $font-color-blue;
    border-bottom: 1px solid $font-color-blue;
  }
}

@media screen and (max-width: 500px) {
  .header {
    display: none;
  }
}
