@import "../../../sass/base";

form {
  margin-top: 2rem;
  display: grid;
  height: 47.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.5rem 2.5rem 2.5rem 25rem 5rem 2.5rem;
  width: 80%;
  gap: 2rem 2rem;

  label {
    align-self: flex-start;
    justify-self: flex-end;
    grid-column: 1/2;
    font-size: 1.8rem;
  }

  input,
  textarea {
    grid-column: 2/3;
    width: 30rem;
    font-size: 1.6rem;
    background-color: $font-color-bone;
    padding: 1rem 1.5rem;
  }

  textarea {
    height: 25rem;
  }

  #btn-send-email,
  #btn-send-email--sending {
    padding: 0;
    margin-top: 1rem;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 5/6;
    height: 5rem;
    width: 14rem;
    background-color: $font-color-blue;
    color: $font-color-bone;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  #btn-send-email:hover {
    cursor: pointer;
  }

  #btn-send-email--sending {
    opacity: 0.5;
    padding-left: 3.5rem;
  }

  .email-error-message {
    font-size: 2rem;
    text-align: center;
    color: $font-color-bone;
    grid-column: 1/3;
    grid-row: 6/7;
    z-index: 9999;
  }
}

@media screen and (max-width: 600px) {
  form {
    margin-top: 2rem;
    margin-left: 2rem;

    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 25rem 6rem 2.5rem;
    width: 100%;
    gap: 2rem 2rem;

    .email-error-message {
      grid-row: 10/11;
    }

    label {
      align-self: flex-start;
      justify-self: flex-start;
      grid-column: 1/2;
      font-size: 1.8rem;
    }

    input,
    textarea {
      grid-column: 1/2;
      width: 100%;
      font-size: 1.6rem;
    }

    textarea {
      height: 25rem;
    }

    #btn-send-email {
      grid-column: 1/3;
      grid-row: 9/10;
      height: 5rem;
      width: 95%;
      padding: 0;
      transform: translate(-2.5%);
      -webkit-transform: translate(-2.5%);
      -moz-transform: translate(-2.5%);
      -ms-transform: translate(-2.5%);
      -o-transform: translate(-2.5%);
    }
  }
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
  }
}
