@import "../../sass/base";

.section-projects {
  background-color: $font-color-bone;
  height: auto;
  width: 100%;
  padding: 3rem 2rem 8rem 2rem;

  h3 {
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
  }

  .projects-wrapper {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    // Example: Hover effect for project cards
    .project-card {
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    @media screen and (max-width: 768px) {
      gap: 2rem;
    }
  }
}
