@import "./sass/base";

.background {
  @include background-gradient;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-wrapper {
  margin: 8rem 0;
  min-height: 90svh;
  width: 90%;
  max-width: 1920px;
  background: linear-gradient(to bottom right, white, rgb(109, 109, 109));
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.5);
}

.frame {
  padding: 60px;
  background-color: rgb(23, 23, 23);
  margin: 6px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

///// Media Queries /////
@media screen and (max-width: 1920px) {
  .frame-wrapper,
  .frame {
    width: 100vw;

    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }

  .frame-wrapper {
    margin: 0;
  }

  .frame {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  .frame {
    width: 100vw;
  }

  .frame {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .header-mobile--open,
  .header-mobile--closed {
    border-bottom: 1px solid $font-color-blue;
  }

  .header-mobile--closed {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    background-color: $color-primary;
    color: $font-color-bone;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  .header-mobile--open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: $color-primary;
    color: $font-color-bone;
    width: 100%;
    padding-bottom: 4rem;
    position: sticky;
    top: 0;
    z-index: 9999;

    .nav-links-wrapper {
      flex-direction: column;
      text-align: center;
      width: 100vw;
      height: 100svh;
      padding-top: 20%;
    }

    .nav-link {
      margin-top: 2rem;
    }
  }

  .u-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 2rem 0;
  }

  .btn-open-modal,
  .btn-close-modal {
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    background-color: $font-color-bone;
    color: $color-primary;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-open-modal:hover,
  .btn-close-modal:hover {
    cursor: pointer;
  }
}
